In [ ]:
#imports
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
import numpy as np

In [ ]:
#load data
df = pd.read_csv('cdc.csv')
#number of rows of data and the number of variables - How many rows are there?  How many variables?
df.shape

In [ ]:
#preview the first 5 rows of data (some variables might get cut off)
df.head()

In [ ]:
#Check the datatypes.  "object" is categorical.  "int64" and "float64" are numerical 
df.dtypes

In [ ]:
#Find the mean of height
df['height'].mean()

In [ ]:
#Find the median of height
df['height'].median()

In [ ]:
#make a new column called "height_in" that is "height" converted from meters to inches
df['height_in'] = df['height'] * 39.37

In [ ]:
df['height_in'].mean()

In [ ]:
#groupby lets you look at the data subset on each category
#In each category in eat_breakfast, find the mean of the height
df.groupby(['eat_breakfast'])['height_in'].mean()

TimeUse data

In [ ]:
#load time use data
df = pd.read_csv('TimeUse2023.csv')
#number of rows of data and the number of variables - How many rows are there?  How many variables?
df.shape

In [ ]:
#Check the datatypes.  "object" is categorical.  "int64" and "float64" are numerical 
df.dtypes

In [ ]:
#add a column for day type which is weekend or weekday
df['Day_Type'] = np.where((df['Day'] == 'Day 3 - Sat 6am to Sun 6am') | (df['Day'] == 'Day 4 - Sun 6am to M 6am'), 'weekend','weekday')

In [ ]:
#preview to see if day type worked.
df.head()

In [ ]:
#Day_Type is now listed
df.dtypes

In [ ]:
#make a time series line plot
sns.lineplot(data=df, x='Day', y='Other')
plt.xticks(rotation=25)

Write your code below to complete the lab: